/* Reset some default browser styles */
body, h1, h2, h3, p, ul, li, form, input, textarea, button {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Basic styling */
body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  background-color: #f4f4f4;
  color: #333;
}

nav {
  background-color: #333;
  color: #fff;
}

nav ul {
  list-style: none;
  display: flex;
  justify-content: space-around;
  padding: 0;
}

nav ul li {
  display: inline;
  margin-right: 20px;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
}

nav ul li a:hover {
  text-decoration: underline;
}

.auth-links {
  text-align: center;
  margin: 10px 0;
}

.auth-links a {
  margin: 0 10px;
  color: #333;
  text-decoration: none;
}

.auth-links a:hover {
  text-decoration: underline;
}

#app {
  width: 80%;
  margin: 20px auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.page {
  display: none;
}

#recipesSection, #createRecipeSection, #profileSection, #favoritesSection {
  margin: 20px 0;
}

form {
  margin: 20px 0;
}

input, textarea, button {
  display: block;
  margin: 10px 0;
  padding: 10px;
  border-radius: 4px;
  border: 1px solid #ddd;
}

input[type="file"] {
  border: none;
}

button {
  background-color: #333;
  color: #fff;
  border: none;
  cursor: pointer;
}

button:hover {
  background-color: #555;
}

.recipe, .comment {
  margin: 20px 0;
  padding: 20px;
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  border-radius: 4px;
}

.recipe img {
  display: block;
  margin: 10px 0;
}

#searchForm {
  margin: 20px 0;
}

#searchInput {
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
  width: 80%;
}

#searchForm button {
  padding: 10px;
  border: none;
  background-color: #333;
  color: #fff;
  border-radius: 4px;
  cursor: pointer;
}

#searchForm button:hover {
  background-color: #555;
}

.user, .recipe {
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 10px;
  margin-bottom: 10px;
}

.user button, .recipe button {
  margin-top: 10px;
}

textarea {
  width: calc(100% - 22px);
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
  resize: vertical;
}

input[type="number"], input[type="text"] {
  width: calc(100% - 22px);
}
